{% model_form 'messages', id: 'contactForm', json: true %}
<div class='row control-group'>
  <div class='form-group col-xs-12 floating-label-form-group controls'>
    <label>Name</label>
    <input class='form-control' data-validation-required-message='Please enter your name.' id='name' name='content[name]' placeholder='Name' required='' type='text'>
    <p class='help-block text-danger'></p>
  </div>
</div>
<div class='row control-group'>
  <div class='form-group col-xs-12 floating-label-form-group controls'>
    <label>Email Address</label>
    <input class='form-control' data-validation-required-message='Please enter your email address.' id='email' name='content[email]' placeholder='Email Address' required='' type='email'>
    <p class='help-block text-danger'></p>
  </div>
</div>
<div class='row control-group'>
  <div class='form-group col-xs-12 floating-label-form-group controls'>
    <label>Phone Number</label>
    <input class='form-control' data-validation-required-message='Please enter your phone number.' id='phone' name='content[phone]' placeholder='Phone Number' required='' type='tel'>
    <p class='help-block text-danger'></p>
  </div>
</div>
<div class='row control-group'>
  <div class='form-group col-xs-12 floating-label-form-group controls'>
    <label>Message</label>
    <textarea class='form-control' data-validation-required-message='Please enter a message.' id='message' name='content[message]' placeholder='Message' required='' rows='5'></textarea>
    <p class='help-block text-danger'></p>
  </div>
</div>
<br>
<div id='success'></div>
<div class='row'>
  <div class='form-group col-xs-12'>
    <button class='btn btn-success btn-lg' type='submit'>Send</button>
  </div>
</div>
{% endmodel_form %}
